@charset "ISO-8859-1";

html,
body {
  font-family: 'Nanum Gothic', sans-serif;
  color: #fff;
  background: white;
}
.hero-body {
  padding: 2.5rem 1.5rem;
}
.m-0-auto {
  margin: 0 auto;
}
.nav {
  padding: 20px 0;
}
.hero-body {
  color: rgb(249, 255, 225);
}

 .label.is-white {
  color: rgb(255, 255, 255);
}

 .is-white {
  color: rgb(255, 255, 255);
}

 .is-left {
  text-align: left !important;
}

 .is-right {
  text-align: right !important;
}

 .is-center {
  text-align: center !important;
}

form {
  padding: 20px;
}

.button.is-large {
  margin-bottom: 10px;
}
.columns.is-vcentered {
  margin-top: 5px;
}
.hero.is-dark {
  color: #333;
  background: white;
  display: table;
  width: 100%;
}
.button.is-success.is-outlined {
  background-color: #97cd76;
  border-color: #97cd76;
  color: #ffffff;
}

.button.is-danger.is-outlined {
  background-color: #ed6c63;
  border-color: #ed6c63;
  color: #ffffff;
}

.footer-text {
  font-size: 10px;
}

.table {
  margin-bottom: 0;
}

.is-3 {
  color: #3e3e3e !important;
}

.is-icon {
  text-align: center !important;
}

.is-checkradio[type='checkbox'] + label {
  padding-left: 0 !important;
}

tr:nth-child(odd) {
  background-color: #b3b3b311;
}

.panel-heading {
  background-color: #f7f7f7;
}

.footer-text {
  font-size: 12px;
}

